<nb-card>
  <nb-card-header style="padding-bottom: 5px;">
    <div>
      <nb-icon icon="people"> </nb-icon>
      <label style="font-size: 15px;"> &nbsp; Delegate role between users </label>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="row">
      <div class="main">
        <div class="conatiner">
          <div class="col-md-12">
            <label class="label"> From </label><br>
            <nb-select selected="" style="width: 220px;" [(ngModel)]="fromUser">
              <nb-option value="">-- From --</nb-option>
              <nb-option *ngFor="let sesa of users" [value]="sesa">
                {{ sesa }}
              </nb-option>
            </nb-select>
    
            <br>
            <br>
    
            <label class="label"> To </label><br>
            <nb-select selected="" style="width: 220px;" [(ngModel)]="toUser">
              <nb-option value="">-- To --</nb-option>
              <nb-option *ngFor="let sesa of users" [value]="sesa">
                {{ sesa }}
              </nb-option>
            </nb-select>
          </div>
        </div>
      </div>
    </div>

  </nb-card-body>

  <nb-card-footer>
    <div class="float-right">
      <button size="small" nbButton hero status="primary" (click)="delegate()"> Delegeate </button> &nbsp;
      <button size="small" nbButton hero status="danger" [mat-dialog-close]="false">Close</button>
    </div>
  </nb-card-footer>
</nb-card>