<nb-card style="padding: 1rem 1rem;">
  <div class="row">
    <div class="col-md-12">
      <nb-icon icon="file-text-outline"></nb-icon> &nbsp; <label style="font-weight: 600;font-size: 17px;"> Logger view
      </label>
    </div>
  </div>
  <br>


  <div class="buttons-row">
    <nb-select selected="" (ngModelChange)="usersSESASelected($event)" [(ngModel)]="selectedUserSESA" fullWidth="true" >
      <nb-option value="">-- Select user to show logged info --</nb-option>
      <nb-option *ngFor="let sesa of usersSESA" [value]= "sesa" >
        {{ sesa }}
      </nb-option>
    </nb-select>
  </div>


  <div class="row" style="padding: 1rem 1rem; min-height: 400px;">
    <div class="table-container">
      <table class="table actions-tables">
        <thead>
          <tr>
            <th>Date</th>
            <th>At</th>
            <th>Action</th>
            <th>Affected User</th>
          </tr>
        </thead>
        <tbody>
          <tr style="height: 50px !important" *ngFor="let action of userActions | slice:skip:limit">
            <td> {{ action.createdAt?.toLocaleDateString()  }} </td>
            <td> {{ action.createdAt.toLocaleTimeString()  }} </td>
            <td [style.color] = "action.actionColor"> {{ action.actionText }} </td>
            <td> {{ action.affectedUser  }} </td>
          </tr>
        </tbody>
        <div *ngIf="userActions.length == 0" class="no-data">
          <i class="fa fa-exclamation-triangle no-data-label" aria-hidden="true"></i> <br>
          <label class="no-data-text"> No data to show </label>
        </div>
      </table>


    </div>
  </div>

  <div *ngIf="userActions.length > 0" class="justify-content-center">
    <ngb-pagination [(page)]="selectedPage" size="sm" [pageSize]="pageSize" [collectionSize]="userActions.length"
      [maxSize]="3" (pageChange)="pageChange($event)"></ngb-pagination>
  </div>

</nb-card>