.main {
    width: 550px;
    height: 400px;
}

.list-tables {
    border-collapse: collapse;
    border-radius: 2px;
    border-style: hidden;
    box-shadow: 0 0 0 0px grey;
}

th {
    font-size: 13px;
    font-weight: 800;
    text-align: center;
}

td {
    font-size: 13px;
    text-align: center;
    font-weight: 550;
}

.input-xs {
    height: 25px !important;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.justify-content-center {
    display: flex !important;
    justify-content: center !important;
    height: 20px;
  }
  
  ngb-pagination ::ng-deep ul > li.active > a {
    color: #fff !important;
    background-color: #009E4D !important;
    border-color: #009E4D !important;
  }