<nb-card>
  <nb-card-header style="padding-bottom: 5px;">
    <div>
      <nb-icon icon="layout-outline"> </nb-icon>
      <label style="font-size: 15px;"> &nbsp; Modify Family & Products  </label>
    </div>
  </nb-card-header>

  <nb-card-body>
        <div class="main">
          <div class="row">
            <div class="col-md-6">
              <nb-select selected="" fullWidth="true" (ngModelChange)="changeFamily($event)" [(ngModel)]="selectedFamily">
                <nb-option value="" > -- Select Family -- </nb-option>
                <nb-option [value]="family" *ngFor="let family of familyNames" >
                  {{ family }}
                </nb-option>
              </nb-select>
            </div>
          </div>

          <br>
          
          <div class="row">
            <div class="col-md-6">
              <input type="text" placeholder="Family Name" nbInput fullWidth="true" [(ngModel)]="changedFamilyName"/>
            </div>
            <div class="col-md-6">
              <button nbButton status="primary" size="small" (click) = "createProduct()">
                <nb-icon icon="plus-square-outline"></nb-icon>
                Add product
              </button>
            </div>
          </div>

          <br>
          <div class="row">
            <div class="col-md-12">
              <table class="table list-tables" style="table-layout: fixed;">
                <thead>
                  <tr>
                    <th scope="col" width="30%">Name</th>
                    <th scope="col" width="30%">Description</th>
                    <th scope="col" width="15%">CCO GM</th>
                    <th scope="col" width="15%">Upstream</th>
                    <th scope="col" width="10%"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of products | slice:skip:limit; let i=index">
                    <td>
                      <input type="text" class="form-control input-xs" [(ngModel)]="product.name">
                    </td>
                    <td>
                      <input type="text" class="form-control input-xs" [(ngModel)]="product.description">
                    </td>
                    <td>
                      <input type="text" class="form-control input-xs" [(ngModel)]="product.cco_gm">
                    </td>
                    <td>
                      <input type="text" class="form-control input-xs" [(ngModel)]="product.upstream">
                    </td>
                    <td>
                      <nb-icon icon="trash-2-outline" style="cursor: pointer; color: red;" (click)="removeProduct(product._id)"></nb-icon>
                    </td>
                  </tr>
                </tbody>
              </table>
          
              <div *ngIf="products.length > 0" class="justify-content-center">
                <ngb-pagination [(page)]="selectedPage" size="sm" [pageSize]="pageSize" [collectionSize]="products.length"
                  [maxSize]="3" (pageChange)="pageChange($event)">
                </ngb-pagination>
              </div>
            </div>
          </div>
          
          </div>
  </nb-card-body>

  <nb-card-footer>
    <div class="float-right">
      <button size="small" nbButton hero status="primary" (click)="save()">Save</button> &nbsp;
      <button size="small" nbButton hero status="danger" [mat-dialog-close]="false">Close</button>
    </div>
  </nb-card-footer>
</nb-card>