<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-header class="card-header-padding">
    <nb-icon icon="award-outline"></nb-icon> &nbsp; Manage & Control
  </nb-card-header>
  <nb-card-body>
    <manage-panel></manage-panel>


    <div class="row">
      <div class="col-md-7">
        <users-panel></users-panel>
      </div>

      <div class="col-md-5">
        <logger-panel></logger-panel>
      </div>
    </div>
  </nb-card-body>
</nb-card>