.buttons-row {
    margin: -0.5rem;
    padding: 20px;
  }
.users-tables {
    border-collapse: collapse;
    border-radius: 2px;
    border-style: hidden;
    box-shadow: 0 0 0 0px grey;
}

th {
    font-size: 13px;
    font-weight: 800;
    text-align: center;
}


td {
    font-size: 13px;
    text-align: center;
    font-weight: 550;
}

.no-data {
  text-align: center;
  position: absolute;
  left: 38%;
  top: 50%;
}

.no-data-label {
  font-size: 74px;
  color: #cccccc;
}

.no-data-text {
  margin-top: 23px;
  color: #cccccc;
  font-size: 20px;
  font-weight: 700;
}

.table-container {
  position: inherit;
  width: 100%;
}

.justify-content-center {
  display: flex !important;
  justify-content: center !important;
  height: 20px;
}

ngb-pagination ::ng-deep ul > li.active > a {
  color: #fff !important;
  background-color: #009E4D !important;
  border-color: #009E4D !important;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}