<nb-card style="padding: 1rem 1rem;">
  <div class="row">
    <div class="col-md-12">
      <nb-icon icon="people-outline"></nb-icon> &nbsp; <label style="font-weight: 600;font-size: 17px;"> Users Panel
      </label>
    </div>
  </div>

  <div class="buttons-row">
    <button *ngFor="let action of adminActions; let i = index" nbButton [status]="action.color"
      style="margin-right: 9px;" (click)="adminActions[i].handler()" [nbTooltip]="action.toolTipText" size="small">
      <nb-icon [icon]="action.icon"></nb-icon>
    </button>
  </div>


  <div class="row" style="padding: 1rem 1rem; min-height: 427px;">
    <div class="table-container">
      <table class="table users-tables" style="table-layout: fixed;">
        <thead>
          <tr>
            <th width="5%">Select</th>
            <th width="30.8%">Name</th>
            <th width="5.8%">Active</th>
            <th width="15.8%">SESA</th>
            <th width="25.8%">Email</th>
            <th width="15.8%">Department</th>
          </tr>
        </thead>
        <tbody>
          <tr style="height: 50px !important" *ngFor="let user of users | slice:skip:limit" 
           [style.background-color]="user.isSelected ? '#91ffbc' : 'white'">
            <td style="padding: 7px;">
              <nb-checkbox style="position: relative;left: 16px;" 
              (checkedChange)="userSelected(user.sesa)"></nb-checkbox>
            </td>
            <td style="margin-top: 1px;  word-wrap:break-word"> {{ user.name }} </td>
            <td>
              <span class="dot" [style.background-color] ="user.isActive ? 'green' : 'red'"></span> &nbsp;
            </td>
            <td> {{ user.sesa }} </td>
            <td style="overflow:hidden; width:50px;"> {{ user.email }} </td>
            <td style="word-wrap:break-word"> {{ user.department }} </td>
          </tr>
        </tbody>
        <div *ngIf="users.length == 0" class="no-data">
          <i class="fa fa-exclamation-triangle no-data-label" aria-hidden="true"></i> <br>
          <label class="no-data-text"> No users to show </label>
        </div>
      </table>
    </div>

  </div>

  <div *ngIf="users.length > 0" class="justify-content-center">
    <ngb-pagination [(page)]="selectedPage" size="sm" [pageSize]="pageSize" [collectionSize]="users.length"
      [maxSize]="3" (pageChange)="pageChange($event)"></ngb-pagination>
  </div>
</nb-card>