<nb-card>
  <nb-card-header style="padding-bottom: 5px;">
    <div>
      <nb-icon icon="bar-chart-outline"> </nb-icon>
      <label style="font-size: 15px;"> &nbsp; Extract Reports </label>
    </div>
  </nb-card-header>

  <nb-card-body>
      <nb-tab tabTitle="Upload">
        <div class="row">
          <div class="main">

            <br>
          </div>
        </div>
      </nb-tab>

  </nb-card-body>

  <nb-card-footer>
    <div class="float-right">
      <button size="small" nbButton hero status="primary" >Upload</button> &nbsp;
      <button size="small" nbButton hero status="danger" [mat-dialog-close]="false" >Close</button>
    </div>
  </nb-card-footer>
</nb-card>