<nb-card>
  <nb-card-header style="padding-bottom: 5px;">
    <div>
      <nb-icon icon="credit-card"></nb-icon>
      <label style="font-size: 15px;"> General Expenses</label></div>
  </nb-card-header>
  <nb-card-body>
    <div class="main">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="expenses" class="label">Expenses</label><br>
            <nb-select
              id="expenses" selected=""  style="width: 100%;">
              <nb-option value="">-- Select an option --</nb-option>
              <nb-option value="A">A</nb-option>
              <nb-option value="B">B</nb-option>
              <nb-option value="C">C</nb-option>
              <nb-option value="D">D</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-md-6">
          <label for="category" class="label">Amount</label><br>
          <input type="text" nbInput
          fullWidth id="delivery" placeholder="%" mask="000">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <textarea fullWidth nbInput placeholder="Message" disabled></textarea>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer >
    <div class="float-right">
      <button  size="small" nbButton hero status="success"  [mat-dialog-close]="true">Add expense</button> &nbsp;
      <button  size="small" nbButton hero status="danger"  [mat-dialog-close]="true">Cancel</button>
    </div>
  </nb-card-footer>
</nb-card>

