<br>

<div class="row">
  <div class="col-md-10">
    <nb-icon icon="done-all"></nb-icon> &nbsp;
    <h5 style="display: inline-block;">Offer with number
      <font style="color: green;">{{ offerNumber }} </font> has been created successfully.
      &nbsp;&nbsp; {{ createdAt }} </h5><br>

    <font style="font-size: 13px;"> Offer has been saved as draft, offer should be assigned to a ngineer to
      start configurig it. </font>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="opportunityName" class="label">Opportunity Name</label>
      <input type="text" nbInput fullWidth id="opportunityName" placeholder="Opportunity Name" [(ngModel)] = "opportunityName" disabled>
    </div><br>

    <div class="form-group">
      <label for="opportunityLeader" class="label">Opportunity Leader</label>
      <input type="text" nbInput fullWidth id="opportunityLeader" placeholder="Opportunity Leader" [(ngModel)] = "opportunityLeader" disabled>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="businessUnit" class="label">Business Unit</label>
      <input type="text" nbInput fullWidth id="businessUnit" placeholder="Business Unit" [(ngModel)] = "leadingBU" disabled>
    </div><br>

    <div class="form-group">
      <label for="accountName" class="label">Account Name</label>
      <input type="text" nbInput fullWidth id="accountName" placeholder="Account Name" [(ngModel)] = "accountName" disabled>
    </div>
  </div>
</div>
<hr>

<div class="row">

  <div class="col-md-8">
    <div class="row">
      <div class="col-md-4">
        <label style="margin-top: 11px;font-size: 16px;" for="subordinatesTenderingEngineers" class="label">
          <nb-icon icon="person"></nb-icon> Select Tender Engineer:
        </label>
      </div>
      <div class="col-md-5">
        <nb-select  [ngModel]="selectedEmployeeSESA" (ngModelChange)="selectEmployee($event)"
         selected="" id="subordinatesTenderingEngineers" style="width: 100%;">
          <nb-option value="">-- Select an Option --</nb-option> 
          <nb-option *ngFor="let employee of listOfSubordinates" value="{{employee.sesa}}">
            {{ employee.name }}
          </nb-option> 
        </nb-select>
      </div>
      <div class="col-md-3">
        <button (click) ="assignOffer()" status="success" class="float-right" style="margin-right: 10px;" nbButton>
           Assign
        </button>
      </div>
    </div>
  </div>
</div>

 