<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-header style="padding: 0.5rem 1rem;" class="card-header-padding">
    <div class="row" >
      <div class="col-md-4" style="margin-top: 10px;">
        <nb-icon icon="bar-chart-2-outline"></nb-icon> &nbsp; My dashboard
      </div>
      <div class="col-md-4"></div>
      <div style="text-align: center;" class="col-md-4" *ngIf="isManager">
        <label class="pointer" style="font-size: 10px;margin-bottom: 0px;" (click)="loadKPIs(currentView)">
          <nb-icon style="font-size: 10px; " icon="flip-2-outline"></nb-icon> &nbsp; {{ alterKPIActionLabel }}
        </label>&nbsp;&nbsp;

        <button style="margin-top: 5px;" hero nbButton status="primary" size="small" (click)="redierctToCreateOffer()">
          <nb-icon icon="plus-circle-outline"></nb-icon> Create new offer
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col" *ngFor="let data of wedgitList; let i = index">
        <wedgit-card [type]="data.type" [title]="data.title" [label]="data.label">
          <animated-count [digit]= "data.number"></animated-count>
        </wedgit-card>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        <nb-card style="padding: 1rem 1rem; min-height: 427px;">
          <div class="row">
            <div class="col-md-12">
              <nb-icon icon="layout"></nb-icon> &nbsp; <label style="font-weight: 600;font-size: 20px;"> Offers </label>
            </div>
          </div>

          <br>
          <div class="table-container">
            <table class="table offer-tables" >
              <thead>
                <tr>
                  <th>Opportunity Name</th>
                  <th>Offer Number</th>
                  <th>Status</th>
                  <th>Owner</th>
                  <th>Currency</th>
                  <th>Date Created</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr style="height: 50px !important" *ngFor="let offer of listOfOffers">
                  <td>{{ offer.opportunityName  }}</td>
                  <td>{{ offer.offerNumber }}</td>
                  <td>
                    <span class="dot" [style.background-color] ="offer.statusBadge"></span> &nbsp;
                     <label [style.color] ="offer.statusBadge"> {{ offer.currentStatus }} </label>
                  </td>
                  <td>  {{ offer.createdBy }} </td>
                  <td>  {{ offer.currencyCode }} </td>
                  <td>  {{ offer.createdAt }} </td>
                  <td>
                    <button *ngFor="let action of offer.actions" 
                      (click)="doAction(action.action , offer.offerNumber)"
                      style="width: 115px; margin-right: 5px;"
                      status="success" class="btn btn-outline-success btn-sm"> 
                      {{ action.label }} 
                    </button> &nbsp;
                  </td>
                </tr>
              </tbody>
              <div *ngIf="listOfOffers.length == 0" class="no-data">
                <i class="fa fa-exclamation-triangle no-data-label" aria-hidden="true"></i> <br>
                <label class="no-data-text"> No offers to show! </label>
              </div>
            </table>
          </div>


          <ul class="pagination justify-content-center" style="margin: auto; margin-top: 36px;">
            <li class="page-item">
              <a [ngClass]="{'disabled': numberOfCarouselPages == 0}" class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li *ngFor= "let page of offersPages; let i = index" class="page-item " (click)="loadOffers(i+1 , urlParams)">
              <a [ngClass] = "{'active-page-link' : currentSelectedPage == i+1 }" class="page-link pointer page-link-color active-page-link" >{{ i + 1 }}</a>
            </li>
            <li class="page-item">
              <a [ngClass]="{'disabled': numberOfCarouselPages == 0}" class="page-link " href="#" >Next</a>
            </li>
          </ul>
        </nb-card>
      </div>

      <div class="col-md-3">
        <nb-card style="padding: 1rem 1rem;">
          <div class="row">
            <div class="col-md-12">
              <nb-icon icon="funnel"></nb-icon> &nbsp; <label style="font-weight: 600;font-size: 17px;"> Filters
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <nb-checkbox [checked]=searchFilter.REJECTED (checkedChange)="toggle($event , 'REJECTED')">Rejected</nb-checkbox> 
              <label class="filter-label"> {{ offersCount.REJECTED_COUNT }} </label>
            </div>
            <div class="col-md-12">
              <nb-checkbox [checked]=searchFilter.CREATED (checkedChange)="toggle($event , 'CREATED')">Created by me</nb-checkbox> 
              <label class="filter-label"> {{ offersCount.CREATED_BY_ME_COUNT }} </label>
            </div>
            <div class="col-md-12">
              <nb-checkbox [checked]=searchFilter.ASSIGNED (checkedChange)="toggle($event , 'ASSIGNED')">Assigned to me</nb-checkbox> 
              <label class="filter-label"> {{ offersCount.ASSIGNED_TO_ME_COUNT }} </label>
            </div>
            <div class="col-md-12">
              <nb-checkbox [checked]=searchFilter.IN_APPROVAL_CYCLE (checkedChange)="toggle($event , 'IN_APPROVAL_CYCLE')">Waiting for approval</nb-checkbox> 
              <label class="filter-label"> {{ offersCount.WAITING_FOR_APPROVAL_COUNT }} </label>
            </div>
            <div class="col-md-12">
              <nb-checkbox [checked]=searchFilter.APPROVED (checkedChange)="toggle($event , 'APPROVED')">Approved</nb-checkbox> 
              <label class="filter-label"> {{ offersCount.APPROVED_COUNT }} </label>
            </div>
          </div>
          <hr>
          <label>Date of creation</label>
          <div class="row">
            <div class="col-md-12">
              <input nbInput placeholder="From" style="width: 100%;" 
                [(ngModel)] = "searchFilter.from"
                [nbDatepicker]="from" autocomplete="seqt" readonly>
              <nb-datepicker #from></nb-datepicker>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <input nbInput placeholder="To" style="width: 100%;"
                [(ngModel)] = "searchFilter.to"
                [nbDatepicker]="to" autocomplete="seqt" readonly>
              <nb-datepicker #to></nb-datepicker>
            </div>
          </div>
          <br>

          <div class="row" style="text-align: center;">
            <div class="col-md-6">
              <button style="width: 100%;" nbButton status="primary" (click) = "applySearchFilter()">Apply</button>
            </div>
            <div class="col-md-6">
              <button style="width: 100%;" nbButton status="danger" outline (click) = "clearSearchFilter()">Clear</button>
            </div>
          </div>
        </nb-card>
      </div>
    </div>
  </nb-card-body>
</nb-card>