<nb-card style="padding: 1rem 1rem;">
    <div class="row">
      <div class="col-md-12">
        <nb-icon icon="settings-2-outline"></nb-icon> &nbsp; <label style="font-weight: 600;font-size: 17px;"> Control Panel 
        </label>
      </div>
    </div>
    <br>


    <div class="buttons-row">
      <button *ngFor="let action of adminActions; let i = index" nbButton [status]="action.color" hero style="margin-right: 9px;"
        (click)= "adminActions[i].handler()">
        <nb-icon [icon]="action.icon"></nb-icon>
        {{ action.text }}
      </button>
    </div>
</nb-card>



