.main {
    width: 500px;
    height: 90px;
}

.main-history {
    width: 500px;
    height: 225px;
}


::-webkit-file-upload-button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 3px;
}

.justify-content-center {
    display: flex !important;
    justify-content: center !important;
    height: 20px;
}

ngb-pagination ::ng-deep ul > li.active > a {
    color: #fff !important;
    background-color: #009E4D !important;
    border-color: #009E4D !important;
}