<nb-card>
  <nb-card-header style="padding-bottom: 5px;">
    <div>
      <nb-icon icon="cloud-upload-outline"> </nb-icon>
      <label style="font-size: 15px;"> &nbsp; Uploading Center </label>
    </div>
  </nb-card-header>

  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="Upload">
        <div class="row">
          <div class="main">

            <br>
            <label style="font-weight:600 ;"> Select {{ uploadingType }} file to upload: </label> <br>
            <input type="file" #file accept=".xlsx" (change)="onFileChanged($event)">
          </div>
        </div>
      </nb-tab>

      <nb-tab tabTitle="History">
        <div class="row">
          <div class="main-history">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Uploaded At</th>
                  <th scope="col">Uploaded By </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let record of uploadingHistory | slice:skip:limit; let i=index">
                  <td>{{ record.createdAt }}</td>
                  <td>{{ record.uploadedBy }}</td>
                </tr>
              </tbody>
            </table>

            <div *ngIf="uploadingHistory.length > 0" class="justify-content-center">
              <ngb-pagination [(page)]="selectedPage" size="sm" [pageSize]="pageSize"
                [collectionSize]="uploadingHistory.length" [maxSize]="3" (pageChange)="pageChange($event)">
              </ngb-pagination>
            </div>
          </div>
        </div>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>

  <nb-card-footer>
    <div class="float-right">
      <button size="small" nbButton hero status="primary" (click)="upload(file.files)">Upload</button> &nbsp;
      <button size="small" nbButton hero status="danger" [mat-dialog-close]="false">Close</button>
    </div>
  </nb-card-footer>
</nb-card>