
  <nb-card >
      <nb-route-tabset [tabs]="tabs"></nb-route-tabset>

      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <button nbButton hero status="success" (click) = "backToOfferDetails()" size="small">
              <nb-icon icon="arrow-circle-left" ></nb-icon>
            </button>
          </div>

          <div class="col-md-5">

            <button style="margin-left: 5px;" class="float-right" nbButton hero status="primary" 
            (click) = "submitForApproval()" size="small" *ngIf = "isApprovalCycleActivated">
              <nb-icon icon="checkmark-circle" ></nb-icon>
              Submit 
            </button> 

            <button style="margin-left: 5px;" class="float-right" nbButton hero status="success"
            *ngIf = "isApprovalCycleActivated"
            (click) = "confirmApprovalAction('approve')" size="small">
              <nb-icon icon="checkmark-circle-2-outline" ></nb-icon>
              Approve
            </button>

            <button style="margin-left: 5px;" class="float-right" nbButton hero status="danger"
            *ngIf = "isApprovalCycleActivated"
            (click) = "confirmApprovalAction('reject')" size="small">
              <nb-icon icon="close-circle-outline" ></nb-icon>
              Reject
            </button> 



            <button style="margin-left: 5px;" class="float-right" nbButton hero status="primary" 
            (click) = "submitForApproval()" size="small" *ngIf = "!isApprovalCycleActivated && offerStatus != 'SUBMITTED'">
              <nb-icon icon="checkmark-circle" ></nb-icon>
              Submit for approval 
            </button> 

            <!-- <button class="float-right" nbButton hero status="info" (click) = "backToOfferDetails()" size="small">
              <nb-icon icon="save"></nb-icon> 
              Save
            </button>  -->
          </div>
        </div>
      </div>
      <br>
    
    </nb-card>

