.main {
    width: 500px;
    height: 220px;
}

.uploader-container {
    padding-right: 10px;
    padding-left: 15px;
}

.file-location-conatiner{
    margin-left: 12px;
    margin-top: 3px;
}

::-webkit-file-upload-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 3px;
  }