<nb-card>
  <nb-card-header style="padding-bottom: 5px;">
    <div>
      <nb-icon icon="upload-outline"> </nb-icon>
      <label style="font-size: 15px;"> Upload Cost Files </label>
    </div>
  </nb-card-header>
  <nb-card-body>


    <nb-tabset>
      <nb-tab tabTitle="Upload">
        <div class="row">
          <div class="main">
            <label style="font-weight:600 ;"> Select file type:  </label>
            <nb-radio-group style="display: flex;" [(value)] = "selectedType">
              <nb-radio
                [value]="'EAS_BO_1'"> E&T EAS
              </nb-radio>
              <nb-radio
                [value]="'EAS_AUT'"> EAS Automation 
              </nb-radio>
              <nb-radio
                [value]="'Transfer_Price'"> Transfer Price
              </nb-radio>
            </nb-radio-group>
            <br>

            <!-- [(ngModel)]="generalExpense.name" -->
            <label style="font-weight:600 ;"> Select upload currency: </label> <br>
            <nb-select [disabled]="isCurrencyExchangeDisabled" selected="" style="width: 295px;" [(ngModel)]="selectedCurrency"
              (selectedChange)="changeCurrency($event)" >
              <nb-option value="">-- Choose currency --</nb-option>
              <nb-option value="EUR">EUR</nb-option>
              <nb-option value="USD">USD</nb-option>
              <nb-option value="EGP">EGP</nb-option>
              <nb-option value="GBP">GBP</nb-option>
              <nb-option value="AED">AED</nb-option>
              <nb-option value="CHF">CHF</nb-option>
            </nb-select>

            <br>
            <br>

            <label style="font-weight:600 ;"> Select the file: </label> <br>
            <input type="file" #file accept=".xls,.xlsx" (change)="onFileChanged($event)">

          </div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Uploading History">
        <div class="main">

        </div>
      </nb-tab>
    </nb-tabset>


  </nb-card-body>
  <nb-card-footer>
    <div class="float-right">
      <button size="small" nbButton hero status="success" (click)="upload(file.files); dismiss()">Upload</button> &nbsp;
      <button size="small" nbButton hero status="danger" [mat-dialog-close]="false" >Close</button>
    </div>
  </nb-card-footer>
</nb-card>
