.offer-number-label {
    left: 67px;
    position: absolute;
    font-size: 29px;
    font-weight: 600;
}

.offer-owner-label{
    position: absolute;
    left: 142px;
    color: gray;
    font-weight: 600;
    top: 45px;
    font-size: 22px;
}

.offer-currency-label{
    font-size: 22px;
    top: 45px;
    position: absolute;
    color: gray;
    font-weight: 600;
    left: 70px;
}

.bfo-update-time{
    position: absolute;
    left: 71px;
    top: 88px;
}

.status-container {
    border-radius: 8px;
    background: #73AD21;
    padding: 20px;
    width: 135px;
    height: 37px;
    text-align: center;
    padding: 8.5px;
  }
