

<nb-accordion style="border-radius: 0.35rem;margin-bottom: 20px; " >
  <nb-accordion-item #offerHeader (collapsedChange) = "isOfferHeaderChanged($event)" >
    <nb-accordion-item-header style="padding: 1rem 1rem;" >
      <nb-icon icon="settings-2-outline"></nb-icon> &nbsp; Offer configuration &nbsp; - &nbsp; <strong> {{ offerNumber }} </strong> 
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="row">
        <div class="col-md-4">
          <label class="offer-number-label"> {{ offerNumber }} </label> <br>
          <label class="offer-currency-label"> {{ currency }} </label> <label class="offer-owner-label"> Assigned to {{ assignee }} </label> <br>
          <label class="bfo-update-time"> <i class="fa fa-calendar" aria-hidden="true"></i> Last updated from bFO: {{ bFOLastUpdate }} </label>
        </div>
        <div class="col-md-5">
          <div [style.background-color]="statusBadge" class="status-container" style="width: 200px;">
            <label style="font-size: 19px;font-weight: 600;" [style.color] = "badgeTextColor"> {{ status }} </label>
          </div>
  
          
        </div>
        <div class="col-md-3">
          <vertical-stepper></vertical-stepper>
        </div>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>



<router-outlet></router-outlet>




