.items-container {
    overflow-x: auto;
    white-space: nowrap;
}

.table-wrapper {
    max-height: 3000px;
    overflow-x: auto;
    overflow-y: auto;
}

.table-wrapper:fullscreen {
    background-color: white;
}

th:first-child,
td:first-child {
    position: sticky;
    left: 0px;
    background-color: #E6EAF1;
}

th:nth-child(2),
td:nth-child(2) {
    position: sticky;
    left: 39px;
    background-color: #E6EAF1;
}

th:nth-child(3),
td:nth-child(3) {
    position: sticky;
    left: 80px;
    background-color: white;
}

th:nth-child(4),
td:nth-child(4) {
    position: sticky;
    left: 160px;
    background-color: white;
}

th:nth-child(5),
td:nth-child(5) {
    position: sticky;
    left: 240px;
    background-color: white;
}

th {
    background-color: #E6EAF1 !important;

    top: 0px;
}

th,
td {
    font-size: 10px;
    vertical-align: middle;
}



.pretty {
    font-size: 17px;
}


// .table-wrapper::-webkit-scrollbar {
//     width: 50px !important;
// }

// /* Track */
// .table-wrapper::-webkit-scrollbar-track {
//     background: #f1f1f1;
// }

// /* Handle */
// .table-wrapper::-webkit-scrollbar-thumb {
//     background: #888;
// }

// /* Handle on hover */
// .table-wrapper::-webkit-scrollbar-thumb:hover {
//     background: #555;
// }

.table-wrapper::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    padding-top: 40px;
}

.table-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;

}

.table-wrapper::-webkit-scrollbar-thumb {
    background: #555;
}

.table-wrapper::-webkit-scrollbar-track-piece {
    height: 30px;
    width: 30px;
}

.input-xs {
    height: 22px !important;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

.percentage-label {
    margin-bottom: 0px;
    margin-left: 5px;
    font-weight: 700;
}

.percentage-fields-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}


.faulty-inputs {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(255, 0, 0, 0.6);
}

.warning-inputs {
    border-color: #f9c606;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px #f9c606;
}

.saved-inputs {
    border-color: #29f906;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px #29f906;
}

.changed-inputs {
    border-color: #0687f9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px #0687f9;
}