<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-7" style="margin-top: 12px;">
      <nb-icon icon="grid-outline"> </nb-icon> &nbsp;
      <label style="font-size: 20px; font-weight: 700;"> Items Summary </label>
    </div>

    <div class="col-md-2"></div>
    <div class="col-md-3">
      <button class="float-right" style="margin-top: 5px;" hero nbButton status="primary" size="small"
        (click)="openExpensesManagerModal()">
        <nb-icon icon="credit-card-outline"></nb-icon> Expenses Manager
      </button>
    </div>

  </div>

  <br>
  <br>
  <div class="row">
    <div class="col-md-12">

      <!-- Header Controlls -->
      <div>
        <button type="button" nbButton hero status="info" size="small" id="full-screen-btn" nbTooltip="Go fullscreen">
          <nb-icon icon="expand-outline"></nb-icon>
        </button> &nbsp;

        <button type="button" nbButton hero status="info" size="small" nbTooltip="Show/Hide columns">
          <nb-icon icon="eye-outline"></nb-icon>
        </button> &nbsp;

        <!-- [disabled]="!itemHasChanges" -->
        <button type="button" nbButton hero status="info" size="small" id="full-screen-btn" (click)="saveItemsChanges()"
           nbTooltip="Save Changes">
          <nb-icon icon="save"></nb-icon>
        </button> &nbsp;

        <button type="button" nbButton hero status="danger" size="small" id="full-screen-btn" (click)="deleteSelectedItems()"
          nbTooltip="Delete selected Items" [disabled]="selectedItems.length == 0">
          <nb-icon icon="trash-outline"></nb-icon>
        </button> &nbsp;

        <button type="button" nbButton hero status="primary" size="small" (click)="openUploadCostFilesModal()"
          nbTooltip="Upload cost files">
          <nb-icon icon="cloud-upload-outline"></nb-icon> Upload Cost Files
        </button> &nbsp;

        <button type="button" nbButton hero status="primary" size="small" (click)="addNewItem()"
          nbTooltip="Add an item manually">
          <nb-icon icon="plus-circle-outline"></nb-icon> Add an Item
        </button> &nbsp;

        <button type="button" nbButton hero status="primary" size="small" (click)="openCloneItemsModal()"
          nbTooltip="Clone item from another offer">
          <nb-icon icon="copy-outline"></nb-icon> Clone Items
        </button> &nbsp;

        <!-- <div class="pretty p-switch p-fill" nbTooltip="Save all changes each 5 mins">
          <input type="checkbox" name="switch1" />
          <div class="state p-success">
            <label>Auto Save</label>
          </div>
        </div> -->
      </div>
      <br>

      <!--Tables conatiner -->
      <div id="table-wrapper" class="table-wrapper">
        <table class="table table-bordered" style="table-layout: fixed;">
          <thead>
            <tr>
              <th width="40" style="text-align: center; z-index: 1;"> 
                <nb-checkbox [value] = "isAllItemsSelected" (checkedChange)="selectAllItems()" nbTooltip="Select all"></nb-checkbox> 
              </th>
              <ng-container  *ngFor="let item of itemsTableHeaders">
                <th [width]="item.style.width" style="text-align: center; z-index: 1;"> {{ item.headerTitle }} </th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of offerItems" style="text-align: center;">
              <td>
                <!-- <button type="button" class="btn btn-danger btn-sm" nbTooltip="Delete this item" (click)="deleteItem(item.itemNo.value)">
                  <nb-icon icon="trash-2-outline"></nb-icon>
                </button> -->

                <nb-checkbox (checkedChange)="selectItem(item.itemNo.value)" [value] = "item.IS_SELECTED"></nb-checkbox>
              </td>

              <td style="font-size: 15px;"> {{ item.itemNo.value }} </td>
              <td> <input type="text" class="form-control input-xs" [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 
                  'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                  'warning-inputs' : item.family.hasWarning, 'changed-inputs' : item.family.isChanged  }"
                  [(ngModel)]="item.family.value" #family
                  (change)="commitChange(item.itemNo , 'family' , family.value)"
                  [disabled]="item.family.disabled" /></td>


              <td> <input type="text" class="form-control input-xs" [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 
                      'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                      'warning-inputs' : item.product.hasWarning, 'changed-inputs' : item.product.isChanged  }"
                  [(ngModel)]="item.product.value" #product
                  (change)="commitChange(item.itemNo , 'product' , product.value)" 
                  [disabled]="item.product.disabled" /> </td>



              <td> <input type="text" class="form-control input-xs"
                  [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 
                          'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                          'warning-inputs' : item.description.hasWarning, 'changed-inputs' : item.description.isChanged   }" [(ngModel)]="item.description.value"
                  #description (change)="commitChange(item.itemNo , 'description' , description.value)"
                  [disabled]="item.description.disabled" /> </td>


              <td> <input type="number" class="form-control input-xs"
                  [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 
                              'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                              'warning-inputs' : item.quantity.hasWarning, 'changed-inputs' : item.quantity.isChanged  }" [(ngModel)]="item.quantity.value" #quantity
                  (change)="commitChange(item.itemNo , 'quantity' , quantity.value)"
                  [disabled]="item.quantity.disabled" /> </td>



              <td> <input type="text" class="form-control input-xs" mask="separator.2"  thousandSeparator=","
                  [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB, 
                                'warning-inputs' : item.unitCostExcludingExpenses.hasWarning, 'changed-inputs' : item.unitCostExcludingExpenses.isChanged  }"
                  [(ngModel)]="item.unitCostExcludingExpenses.value" #unitCostExcludingExpenses
                  (change)="commitChange(item.itemNo , 'unitCostExcludingExpenses' , unitCostExcludingExpenses.value)" 
                  [disabled]="item.unitCostExcludingExpenses.disabled"/>
              </td>



              <td> <input  type="text" mask="separator.2"  thousandSeparator="," class="form-control input-xs" 
                  [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB, 
                                'warning-inputs' : item.totalCostExcludingExpenses.hasWarning, 'changed-inputs' : item.totalCostExcludingExpenses.isChanged  }"
                  [(ngModel)]="item.totalCostExcludingExpenses.value" #totalCostExcludingExpenses
                  (change)="commitChange(item.itemNo , 'totalCostExcludingExpenses' , totalCostExcludingExpenses.value)" 
                  [disabled]="item.totalCostExcludingExpenses.disabled"/>
              </td>


              <td> <input type="text" mask="separator.2"  thousandSeparator="," class="form-control input-xs"
                  [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                              'warning-inputs' : item.unitCostIncludingExpenses.hasWarning, 'changed-inputs' : item.unitCostIncludingExpenses.isChanged  }"
                  [(ngModel)]="item.unitCostIncludingExpenses.value" #unitCostIncludingExpenses
                  (change)="commitChange(item.itemNo , 'unitCostIncludingExpenses' , unitCostIncludingExpenses.value)"
                  [disabled]="item.unitCostIncludingExpenses.disabled" />
              </td>



              <td> <input type="text" mask="separator.2"  thousandSeparator="," class="form-control input-xs"
                  [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                            'warning-inputs' : item.totalCostIncludingExpenses.hasWarning, 'changed-inputs' : item.totalCostIncludingExpenses.isChanged  }"
                  [(ngModel)]="item.totalCostIncludingExpenses.value" #totalCostIncludingExpenses
                  (change)="commitChange(item.itemNo , 'totalCostIncludingExpenses' , totalCostIncludingExpenses.value)"
                  [disabled]="item.totalCostIncludingExpenses.disabled" />
              </td>




              <td> <input type="text" mask="separator.2"  thousandSeparator="," class="form-control input-xs"
                  [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                           'warning-inputs' : item.expensesPerUnit.hasWarning, 'changed-inputs' : item.expensesPerUnit.isChanged  }"
                  [(ngModel)]="item.expensesPerUnit.value" #expensesPerUnit
                  (change)="commitChange(item.itemNo , 'expensesPerUnit' , expensesPerUnit.value)"
                  [disabled]="item.expensesPerUnit.disabled" />
              </td>



              <td> <input type="text" mask="separator.2"  thousandSeparator="," class="form-control input-xs"
                  [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                         'warning-inputs' : item.totalExpenses.hasWarning, 'changed-inputs' : item.totalExpenses.isChanged  }" [(ngModel)]="item.totalExpenses.value"
                  #totalExpenses (change)="commitChange(item.itemNo , 'totalExpenses' , totalExpenses.value)"
                  [disabled]="item.totalExpenses.disabled" /> </td>




              <td>
                <div class="percentage-fields-container">
                  <input type="text" mask="separator.2"  thousandSeparator="," class="form-control input-xs"
                  [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 'saved-inputs': item.IS_SAVED&& !item.IS_LOADED_FROM_DB,
                           'warning-inputs' : item.Expenses_Percentage.hasWarning, 'changed-inputs' : item.Expenses_Percentage.isChanged  }"
                  [(ngModel)]="item.Expenses_Percentage.value" #Expenses_Percentage
                  (change)="commitChange(item.itemNo , 'Expenses_Percentage' , Expenses_Percentage.value)"
                  [disabled]="item.Expenses_Percentage.disabled" /> 
                </div> 

              </td>


              <td> <input type="text" mask="separator.2"  thousandSeparator="," class="form-control input-xs" [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0,
                          'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                         'warning-inputs' : item.unitSP2.hasWarning, 'changed-inputs' : item.unitSP2.isChanged  }"
                  [(ngModel)]="item.unitSP2.value" #unitSP2
                  (change)="commitChange(item.itemNo , 'unitSP2' , unitSP2.value)"
                  [disabled]="item.unitSP2.disabled" /> </td>


              <td> <input type="text" mask="separator.2"  thousandSeparator="," class="form-control input-xs" [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 
                         'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                          'warning-inputs' : item.totalSP2.hasWarning, 'changed-inputs' : item.totalSP2.isChanged  }"
                  [(ngModel)]="item.totalSP2.value" #totalSP2
                  (change)="commitChange(item.itemNo , 'totalSP2' , totalSP2.value)"
                  [disabled]="item.totalSP2.disabled" /> </td>



              <td>
                <div class="percentage-fields-container">
                  <input type="text" mask="separator.2" thousandSeparator="," class="form-control input-xs"
                    [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                                        'warning-inputs' : item.CCOGM_Percentage.hasWarning, 'changed-inputs' : item.CCOGM_Percentage.isChanged  }" [(ngModel)]="item.CCOGM_Percentage.value" #CCOGM_Percentage
                    (change)="commitChange(item.itemNo , 'CCOGM_Percentage' , CCOGM_Percentage.value)"
                    [disabled]="item.CCOGM_Percentage.disabled" />

                  <label class="percentage-label"> % </label>

                </div>
              </td>






              <td>
                <div class="percentage-fields-container">
                  <input type="text" mask="separator.2" thousandSeparator="," class="form-control input-xs"
                    [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                                           'warning-inputs' : item.sellingLocalMargin.hasWarning == true, 'changed-inputs' : item.sellingLocalMargin.isChanged  }" [(ngModel)]="item.sellingLocalMargin.value"
                    #sellingLocalMargin (change)="commitChange(item.itemNo , 'sellingLocalMargin' , sellingLocalMargin.value)"
                    [disabled]="item.sellingLocalMargin.disabled" />

                </div>
              
              </td>



              <td>
                <div class="percentage-fields-container">
                  <input type="text" mask="separator.2" thousandSeparator="," class="form-control input-xs"
                    [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                                        'warning-inputs' : item.CCOGM_Percentage_Threshold.hasWarning, 'changed-inputs' : item.CCOGM_Percentage_Threshold.isChanged  }" [(ngModel)]="item.CCOGM_Percentage_Threshold.value"
                    #CCOGM_Percentage_Threshold
                    (change)="commitChange(item.itemNo , 'CCOGM_Percentage_Threshold' , CCOGM_Percentage_Threshold.value)"
                    [disabled]="item.CCOGM_Percentage_Threshold.disabled" />

                </div>
              
              </td>



              <td> <input type="text" mask="separator.2"  thousandSeparator="," class="form-control input-xs"
                  [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 
                              'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                               'warning-inputs' : item.unitSP1.hasWarning, 'changed-inputs' : item.unitSP1.isChanged  }" [(ngModel)]="item.unitSP1.value" #unitSP1
                  (change)="commitChange(item.itemNo , 'unitSP1' , unitSP1.value)"
                  [disabled]="item.unitSP1.disabled" /> </td>


              <td> <input type="text" mask="separator.2"  thousandSeparator="," class="form-control input-xs"
                  [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 
                              'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                               'warning-inputs' : item.totalSP1.hasWarning, 'changed-inputs' : item.totalSP1.isChanged  }" [(ngModel)]="item.totalSP1.value" #totalSP1
                  (change)="commitChange(item.itemNo , 'totalSP1' , totalSP1.value)"
                  [disabled]="item.totalSP1.disabled" /> </td>




              <td> <input type="text" class="form-control input-xs" [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0,
                                  'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                                 'warning-inputs' : item.IG_OG.hasWarning, 'changed-inputs' : item.IG_OG.isChanged  }"
                  [(ngModel)]="item.IG_OG.value" #IG_OG (change)="commitChange(item.itemNo , 'IG_OG' , IG_OG.value)"
                  [disabled]="item.IG_OG.disabled" />
              </td>




              <td> <input type="number" class="form-control input-xs"
                  [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB, 
                                    'warning-inputs' : item.numberOfCells.hasWarning, 'changed-inputs' : item.numberOfCells.isChanged  }"
                  [(ngModel)]="item.numberOfCells.value" #numberOfCells
                  (change)="commitChange(item.itemNo , 'numberOfCells' , numberOfCells.value)"
                  [disabled]="item.numberOfCells.disabled" /> </td>

              <td>
                <div class="percentage-fields-container">
                  <input type="text" mask="separator.2" thousandSeparator="," class="form-control input-xs"
                    [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                                                   'warning-inputs' : item.Upstream_Percentage.hasWarning, 'changed-inputs' : item.Upstream_Percentage.isChanged  }" [(ngModel)]="item.Upstream_Percentage.value"
                    #Upstream_Percentage (change)="commitChange(item.itemNo , 'Upstream_Percentage' , Upstream_Percentage.value)"
                    [disabled]="item.Upstream_Percentage.disabled" />

                </div>
              
              </td>



              <td> <input type="text" mask="separator.2"  thousandSeparator="," class="form-control input-xs"
                  [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                                     'warning-inputs' : item.Upstream_amount.hasWarning, 'changed-inputs' : item.Upstream_amount.isChanged  }"
                  [(ngModel)]="item.Upstream_amount.value" #Upstream_amount
                  (change)="commitChange(item.itemNo , 'Upstream_amount' , Upstream_amount.value)"
                  [disabled]="item.Upstream_amount.disabled" /> </td>

              <td>
                <div class="percentage-fields-container">
                  <input type="text" mask="separator.2" thousandSeparator="," class="form-control input-xs"
                    [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                                                                   'warning-inputs' : item.sellingCCOCM_Percentage.hasWarning, 'changed-inputs' : item.sellingCCOCM_Percentage.isChanged  }"
                    [(ngModel)]="item.sellingCCOCM_Percentage.value" #sellingCCOCM_Percentage
                    (change)="commitChange(item.itemNo , 'sellingCCOCM_Percentage' , sellingCCOCM_Percentage.value)"
                    [disabled]="item.sellingCCOCM_Percentage.disabled" />
              
                </div>
              </td>

              <td>
                <div class="percentage-fields-container">
                  <input type="text" mask="separator.2" thousandSeparator="," class="form-control input-xs"
                    [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                                                   'warning-inputs' : item.upstreamSFC_Percentage.hasWarning, 'changed-inputs' : item.upstreamSFC_Percentage.isChanged  }" [(ngModel)]="item.upstreamSFC_Percentage.value"
                    #upstreamSFC_Percentage
                    (change)="commitChange(item.itemNo , 'upstreamSFC_Percentage' , upstreamSFC_Percentage.value)"
                    [disabled]="item.upstreamSFC_Percentage.disabled" />

                </div>
              </td>


              <td> <input type="text" mask="separator.2"  thousandSeparator="," class="form-control input-xs"
                  [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                                   'warning-inputs' : item.upstreamSFC_amount.hasWarning, 'changed-inputs' : item.upstreamSFC_amount.isChanged  }"
                  [(ngModel)]="item.upstreamSFC_amount.value" #upstreamSFC_amount
                  (change)="commitChange(item.itemNo , 'upstreamSFC_amount' , upstreamSFC_amount.value)"
                  [disabled]="item.upstreamSFC_amount.disabled" />
              </td>




              <td>
                <div class="percentage-fields-container">
                  <input type="text" mask="separator.2" thousandSeparator="," class="form-control input-xs"
                    [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                                               'warning-inputs' : item.fOSFC_Percentage.hasWarning, 'changed-inputs' : item.fOSFC_Percentage.isChanged  }" [(ngModel)]="item.fOSFC_Percentage.value" #fOSFC_Percentage
                    (change)="commitChange(item.itemNo , 'fOSFC_Percentage' , fOSFC_Percentage.value)"
                    [disabled]="item.fOSFC_Percentage.disabled" />

                </div>
              </td>



              <td> <input type="text" mask="separator.2"  thousandSeparator="," class="form-control input-xs"
                  [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 
                                'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                                 'warning-inputs' : item.fOSFC_amount.hasWarning, 'changed-inputs' : item.fOSFC_amount.isChanged  }" [(ngModel)]="item.fOSFC_amount.value"
                  #fOSFC_amount (change)="commitChange(item.itemNo , 'fOSFC_amount' , fOSFC_amount.value)"
                  [disabled]="item.fOSFC_amount.disabled" /> </td>



              <td> <input type="text" mask="separator.2"  thousandSeparator=","  class="form-control input-xs"
                  [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                                   'warning-inputs' : item.totalSFC_amount.hasWarning, 'changed-inputs' : item.totalSFC_amount.isChanged  }"
                  [(ngModel)]="item.totalSFC_amount.value" #totalSFC_amount
                  (change)="commitChange(item.itemNo , 'totalSFC_amount' , totalSFC_amount.value)"
                  [disabled]="item.totalSFC_amount.disabled" />
              </td>


              <td>
                <div class="percentage-fields-container">
                  <input type="text" mask="separator.2" thousandSeparator="," class="form-control input-xs"
                    [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                                                               'warning-inputs' : item.totalSFC_Percentage.hasWarning, 'changed-inputs' : item.totalSFC_Percentage.isChanged  }" [(ngModel)]="item.totalSFC_Percentage.value"
                    #totalSFC_Percentage (change)="commitChange(item.itemNo , 'totalSFC_Percentage' , totalSFC_Percentage.value)"
                    [disabled]="item.totalSFC_Percentage.disabled" />
              
                </div>
              </td>




              <td> <input type="text" class="form-control input-xs"
                  [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 
                                      'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                                      'warning-inputs' : item.package.hasWarning , 'changed-inputs' : item.package.isChanged }" [(ngModel)]="item.package.value" #package
                  (change)="commitChange(item.itemNo , 'package' , package.value)"
                  [disabled]="item.package.disabled" /> </td>





              <td> <input type="text" class="form-control input-xs" [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 
                  'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                  'warning-inputs' : item.source.hasWarning , 'changed-inputs' : item.source.isChanged }"
                  [(ngModel)]="item.source.value" #source
                  (change)="commitChange(item.itemNo , 'source' ,  source.value)"
                  [disabled]="item.source.disabled" /> </td>

                <td> <input type="text" class="form-control input-xs" [ngClass]="{'faulty-inputs': unSavedIds.indexOf(item.itemNo) == 0, 
                    'saved-inputs': item.IS_SAVED && !item.IS_LOADED_FROM_DB,
                    'warning-inputs' : item.source.hasWarning , 'changed-inputs' : item.comment.isChanged }"
                    [(ngModel)]="item.comment.value" #comment
                    (change)="commitChange(item.itemNo , 'comment' ,  comment.value)"
                    [disabled]="item.comment.disabled" /> </td>

            </tr>

            <tr>
              <td style="background-color: white;"></td>
              <td style="background-color: white; z-index: 1;" colspan="4"></td>
              <td></td>
              <td></td>
              <td>
                <input type="text" class="form-control input-xs" mask="separator.2" thousandSeparator=","
                  [(ngModel)]="itemsTotals.totals_totalCostExcludingExpenses" disabled />
              </td>
              <td></td>
              <td>
                <input type="text" class="form-control input-xs" mask="separator.2"  thousandSeparator="," [(ngModel)]="itemsTotals.totals_totalCostIncludingExpenses" disabled />
              </td>
              <td></td>
              <td>
                <input type="text" class="form-control input-xs" mask="separator.2"  thousandSeparator="," [(ngModel)]="itemsTotals.totals_totalExpenses" disabled />
              </td>
              <td colspan="2"></td>
              <td>
                <input type="text" class="form-control input-xs" mask="separator.2"  thousandSeparator="," [(ngModel)]="itemsTotals.totals_totalSP2" disabled />
              </td>
              <td>
                <input type="text" class="form-control input-xs" mask="separator.2" thousandSeparator="," [(ngModel)]="itemsTotals.totals_CCO_GM" disabled />
              </td>
              <td colspan="3"></td>
              <td>
                <input type="text" class="form-control input-xs" mask="separator.2"  thousandSeparator="," [(ngModel)]="itemsTotals.totals_totalSP1" disabled />
              </td>
              <td colspan="3"></td>
              <td>
                <input type="text" class="form-control input-xs" mask="separator.2"  thousandSeparator="," [(ngModel)]="itemsTotals.totals_Upstream_amount" disabled />
              </td>
              <td>
                <input type="text" class="form-control input-xs" mask="separator.2"  thousandSeparator="," [(ngModel)]="itemsTotals.totals_sellingCCOCM_Percentage" disabled />
              </td>
              <td></td>
              <td>
                <input type="text" class="form-control input-xs" mask="separator.2"  thousandSeparator="," [(ngModel)]="itemsTotals.totals_upstreamSFC_amount" disabled />
              </td>
              <td></td>
              <td>
                <input type="text" class="form-control input-xs" mask="separator.2"  thousandSeparator="," [(ngModel)]="itemsTotals.totals_fOSFC_amount" disabled />
              </td>
              <td>
                <input type="text" class="form-control input-xs" mask="separator.2"  thousandSeparator="," [(ngModel)]="itemsTotals.totals_totalSFC_amount" disabled />
              </td>
              <td>
                <input type="text" class="form-control input-xs" mask="separator.2"  thousandSeparator="," [(ngModel)]="itemsTotals.totals_totalSFC_Percentage" disabled />
              </td>
              <td colspan="2"></td>
              <td> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<br>
<br>