.table-bordered thead th, .table-bordered thead td {
    border-bottom-width: 1px !important;
}

.table-bordered th, .table-bordered td {
    border: 0px solid #dee2e6 !important; 
}

.hoverless:hover{
    background-color: white !important;
}

.hoverable{
    background-color: rgb(220, 247, 236) !important;
}

.show{
    display: contents;
}

.hide {
    display: none;
}

.cell-label{
    margin-top: 10px;
}



.table-bordered {
    border: 0px solid #dee2e6 !important;
}

.table-bordered th {
    font-size: 13px;
    font-weight: 800;
    text-align: center;
    padding: 0.5rem !important
}


.table-bordered td {
    font-size: 13px;
    text-align: center;
    font-weight: 550;
    padding: 0.5rem !important
}

.subgrid{
    margin-bottom: 0px !important;
}

.subgrid th, .subgrid td {
    border: 0.008rem solid #DCDCDC !important;
}


.td-text-conatiner{
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}

ngb-pagination ::ng-deep ul > li.active > a {
    color: #fff !important;
    background-color: #009E4D !important;
    border-color: #009E4D !important;
}

.justify-content-center{
    display: flex !important;
    justify-content: center !important;
    height: 20px;
}

.no-expenses-label{
    margin-bottom: 0px;
    font-weight: 900;
}


.expense-delete-icon {
    color: #FF4073;
    cursor: pointer;
}

.expense-edit-icon{
    cursor: pointer
}