<div class="table-container">
  <table class="table table-bordered table-hover" style="table-layout: fixed;">
    <thead>
      <tr>
        <th width="5"></th>
        <th width="5">Item Number </th>
        <th width="180">Description </th>
        <th width="250">Expenses </th>
        <th width="100">Value </th>
        <th width="50">Add </th>
      </tr>
    </thead>

    <tbody>

      <ng-container *ngFor="let item of itemPages">
        <tr [ngClass]="{hoverable : item.isSelected}">
          <td style="cursor: pointer;">
            <nb-icon class="cell-label" (click)="viewExpenses(item.itemNo)"
              [icon]="item.isExpensesOpened == true ? expanded : collapsed"></nb-icon>
          </td>
          <td>
            <p class="cell-label"> {{ item.itemNo }} </p>
          </td>
          <td class="td-text-conatiner">
            <p class="cell-label"> {{ item.description }} </p>
          </td>



          <!-- Expenses types  -->
          <td>
            <nb-select selected="" fieldSize="small" style="width: 310px;"
              [(ngModel)]="item.selectedExpense.name" (ngModelChange)="changePlaceHolderForInput(item.itemNo)">
              <nb-option value=""> -- Choose expense -- </nb-option>
              <nb-option-group style="color: gray;" *ngFor="let expenseCategory of itemsExpenses"
                [title]="expenseCategory.groupName">
                <nb-option *ngFor="let expense of expenseCategory.expensesList" [value]="expense.name">
                  {{ expense.name }}
                </nb-option>
              </nb-option-group>
            </nb-select>
          </td>
          
          
          <!-- Expenses values  -->
          <td>
            <label *ngIf="item.currentlySelectedExpensesPlaceHolder == 'H'">
              {{ item.selectedExpense.hourlyRate }} X
            </label> &nbsp;

            <input [ngStyle]="{'width' : item.currentlySelectedExpensesPlaceHolder == 'H' ? '90px' : '131px'}"
              type="number" nbInput fieldSize="medium" [(ngModel)]="item.selectedExpense.value"
              [placeholder]="item.currentlySelectedExpensesPlaceHolder">
          </td>

          <!-- Add new expenses handler -->
          <td>
            <button style="margin-top: 4px;" nbButton size="small" status="success"
              (click)="addExpenseToItem(item.itemNo)">
              <nb-icon [icon]="item.btnIcon"></nb-icon>
            </button>
          </td>
        </tr>

        <tr class="hoverless" [ngClass]="{ 'show' : item.isSelected , 'hide': !item.isSelected}">
          <td colspan="6">
            <table [@slideInOut]="item.isExpensesOpened == true ? 'in' : 'out'" class="table subgrid"
              style="table-layout: fixed;">
              <thead>
                <th width="2">Actions</th>
                <th width="50">Name</th>
                <th width="50">Type</th>
                <th width="47">Value</th>
              </thead>

              <tbody>
                <tr *ngFor="let expense of item.expenses | slice:item.skip:item.limit; let i=index" class="hoverless">
                  <ng-container *ngIf="!expense.IS_REMOVED">
                    <td>
                      <nb-icon (click)="editItemExpense(item.itemNo , expense.name)" class="expense-edit-icon" nbTooltip="Edit expense"
                        icon="edit-outline">
                      </nb-icon>
                      <nb-icon (click)="removeItemExpense(item.itemNo , expense.name)" class="expense-delete-icon" nbTooltip="Delete expense"
                        icon="trash-2-outline">
                      </nb-icon>
                    </td>
                    <td> {{ expense.name }} </td>
                    <td> {{ expense.valueType }} </td>
                    <td> {{ expense.value }} </td>
                  </ng-container>
                </tr>
                <tr *ngIf="item.expenses.length !== 0">
                  <td style="background-color: lightgray;" colspan="3">
                    Total: 
                  </td>
                  <td style="background-color: lightgray;" colspan="1">
                    {{ item.totalExpenses.toLocaleString() }}
                  </td>
                </tr>
                <tr *ngIf="item.expenses.length == 0">
                  <td colspan="4">
                    <p class="no-expenses-label">Item has no expenses</p>
                  </td>
                </tr>
              </tbody>
            </table>

            <br>
            <div *ngIf="item.expenses.length >= maxNestedGridSize" class="justify-content-center">
              <ngb-pagination [(page)]="item.selectedPage" size="sm" [pageSize]="nestedGridPageSize" [collectionSize]="item.expenses.length"
                [maxSize]="maxNestedGridSize" (pageChange)="nestedGridPageChanges(item.itemNo , $event)"></ngb-pagination>
            </div>
            <br>
          </td>
        </tr>
      </ng-container>


    </tbody>
  </table>


  <div class="justify-content-center">
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalItems" [maxSize]="maxSize"
      (pageChange)="pageChanges($event)"></ngb-pagination>
  </div>
</div>