.main {
    width: 600px;
    height: 411px;
}


.align-btn {
    margin-top: 29px;
}

.table-bordered thead th, .table-bordered thead td {
    border-bottom-width: 1px;
}

.table-bordered th, .table-bordered td {
    border: 0px solid #dee2e6; 
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: rgb(220, 247, 236);
}

.table-bordered {
    border: 0px solid #dee2e6;
}

th {
    font-size: 13px;
    font-weight: 800;
    text-align: center;
    padding: 0.5rem !important
}


td {
    font-size: 13px;
    text-align: center;
    font-weight: 550;
    padding: 0.5rem !important
}


.selected{
    background-color: rgb(220, 247, 236);
}

.page-link-color {
    color: #009E4D !important;
}


.active-page-link {
    z-index: 1;
    color: #fff !important;
    background-color: #009E4D;
    border-color: #009E4D;
}

.no-data {
    text-align: center;
    position: absolute;
    left: 30%;
    top: 40%;
}

.no-data-label {
    font-size: 74px;
    color: #cccccc;
}

.no-data-text {
    margin-top: 23px;
    color: #cccccc;
    font-size: 20px;
    font-weight: 700;
}

.table-container {
    position: inherit;
    height: 270px !important;
}


ngb-pagination ::ng-deep ul > li.active > a {
    color: #fff !important;
    background-color: #009E4D !important;
    border-color: #009E4D !important;
}

.justify-content-center{
    display: flex !important;
    justify-content: center !important;
}