<nb-card>
  <nb-card-header style="padding-bottom: 5px;">
    <div>
      <nb-icon icon="copy-outline"> </nb-icon> &nbsp;
      <label style="font-size: 15px;"> Clone Items from other offers</label>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="main">
      <div class="row">
        <div class="col-md-10">
          <div class="form-group">
            <label for="offerNumber" style="font-weight: 600;">Search in your offers ..</label>
            <input id="offerNumber" class="padding-right-adj" type="text" nbInput fullWidth placeholder="Offer Number" #offerNumber
              autocomplete="seqt">
          </div>
        </div>

        <div class="col-md-2">
          <button type="button" class="align-btn" nbButton status="success" hero  (click)="searchByOfferNumber(offerNumber.value)">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-12">
          <div class="table-container">
            <table class="table table-bordered table-hover" style="table-layout: fixed;">
              <thead>
                <tr>
                  <th width="5"></th>
                  <th width="60">Item Number</th>
                  <th width="180">Description</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of itemPages" [ngClass]="{ 'selected': item.isSelected }">
                  <td>
                    <nb-checkbox [value]="item.isSelected" status="success" (change)="selectItem(item.itemNo);">
                    </nb-checkbox>
                  </td>
                  <td (click)="selectItem(item.itemNo);" style="cursor: pointer;">{{ item.itemNo }}</td>
                  <td (click)="selectItem(item.itemNo);" style="cursor: pointer;">{{ item.description }}</td>
                </tr>
              </tbody>
              <div *ngIf="items.length == 0" class="no-data">
                <i class="fa fa-exclamation-triangle no-data-label" aria-hidden="true"></i> <br>
                <label class="no-data-text"> This offer has no items! </label>
              </div>
            </table>
          </div>
          
          <div class="justify-content-center">
            <ngb-pagination [(page)]="page" 
            [pageSize]="pageSize" 
            [collectionSize]="totalItems"
            [maxSize]="maxSize"
            (pageChange)="pageChanges($event)"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="float-right">
      <button size="small" nbButton hero status="success" (click)="cloneItems()" >Clone</button> &nbsp;
      <button size="small" nbButton hero status="danger" [mat-dialog-close]="false">Close</button>
    </div>
  </nb-card-footer>
</nb-card>