.main-ge {
    width: 600px;
    max-height: 365px;
}

.main-ie{
    width: 950px;
    height: 513px;
}

.align-btn {
    margin-top: 30px;
}

.db-tree-view {
    background-color: saddlebrown !important;
}

.table-bordered thead th, .table-bordered thead td {
    border-bottom-width: 1px !important;
}

.table-bordered th, .table-bordered td {
    border: 0px solid #dee2e6 !important; 
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: rgb(220, 247, 236) !important;
}

.table-bordered {
    border: 0px solid #dee2e6 !important;
}

th {
    font-size: 13px;
    font-weight: 800;
    text-align: center;
    padding: 0.5rem !important;
}


td {
    font-size: 13px;
    text-align: center;
    font-weight: 550;
    padding: 0.5rem !important;
}


.selected{
    background-color: rgb(220, 247, 236);
}

.page-link-color {
    color: #009E4D !important;
}


.active-page-link {
    z-index: 1;
    color: #fff !important;
    background-color: #009E4D;
    border-color: #009E4D;
}

.no-data {
    text-align: center;
    position: absolute;
    left: 30%;
    top: 40%;
}

.no-data-label {
    font-size: 74px;
    color: #cccccc;
}

.no-data-text {
    margin-top: 23px;
    color: #cccccc;
    font-size: 20px;
    font-weight: 700;
}

.table-container {
    position: inherit;
    // height: 240px !important;
}


ngb-pagination ::ng-deep ul > li.active > a {
    color: #fff !important;
    background-color: #009E4D !important;
    border-color: #009E4D !important;
}

.justify-content-center{
    display: flex !important;
    justify-content: center !important;
}

.hours-label{
    font-size: 13px;
    text-align: center;
    font-weight: 550;
}

.subgrid{
    margin-bottom: 0px !important;
}

.subgrid th, .subgrid td {
    border: 0.008rem solid #DCDCDC !important;
}

.no-expenses-label{
    margin-bottom: 0px;
    font-weight: 900;
}

.expense-delete-icon {
    color: #FF4073;
    cursor: pointer;
}

.expense-edit-icon{
    cursor: pointer
}

// .justify-content-center{
//     display: flex !important;
//     justify-content: center !important;
//     height: 20px;
// }