<nb-card>
  <nb-card-header style="padding-bottom: 5px;">
    <div>
      <nb-icon icon="credit-card-outline"> </nb-icon> &nbsp;
      <label style="font-size: 15px;"> Expenses Manager</label>
    </div>
  </nb-card-header>

  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="General Expenses">
        <div class="main-ge">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="category" class="label">Expense</label><br>
                <nb-select id="expenses" selected="" style="width: 295px;" (selectedChange)="changeExpensesType($event)"
                  [(ngModel)]="generalExpense.name">
                  <nb-option value=""> -- Choose expense -- </nb-option>
                  <nb-option-group style="color: gray; font-weight: 700;" *ngFor="let expenseGroup of generalExpenses"
                    [title]="expenseGroup.groupName">
                    <nb-option *ngFor="let eOption of expenseGroup.expensesList" [value]="eOption.name">
                      {{ eOption.name }}</nb-option>
                  </nb-option-group>
                </nb-select>
              </div>
            </div>
            <div class="col-md-4">
              <label for="category" class="label">Value</label><br>
              <p class="hours-label"
                [ngStyle]="{'display': (generalExpense.valueType == 'Hours')  ? 'inline-block' : 'none' }">
                {{ generalExpense.hourlyRate }} X
              </p>
              &nbsp;


              <input [ngStyle]="{'width': (generalExpense.valueType == 'Hours')  ? '110px' : '150px' }"
                class="padding-right-adj" type="number" nbInput fullWidth [placeholder]="expensesUnitPlaceHolder"
                [(ngModel)]="generalExpense.value" autocomplete="seqt">
            </div>
            <div class="col-md-2">
              <button class="align-btn" size="small" nbButton hero status="success" (click)="addGeneralExpense()">
                <nb-icon [icon]="btnIcon" ></nb-icon>
              </button>
            </div>
          </div>

          <br>
          <div class="row">
            <div class="table-container">
              <table class="table subgrid" style="table-layout: fixed;">
                <thead>
                  <th width="5">Actions</th>
                  <th width="50">Name</th>
                  <th width="50">Type</th>
                  <th width="47">Value</th>
                </thead>

                <tbody>
                  <ng-container *ngFor="let addedexpense of addedGeneralExpenses | slice:generalExpensesSkip:generalExpensesLimit; let i=index"  >
                    <tr>
                      <td>
                        <nb-icon (click)="editGeneralExpense(addedexpense.name)" class="expense-edit-icon" nbTooltip="Edit expense"
                          icon="edit-outline">
                        </nb-icon>
                        <nb-icon (click)="removeGeneralExpense(addedexpense.name)" class="expense-delete-icon" nbTooltip="Delete expense"
                          icon="trash-2-outline">
                        </nb-icon>
                      </td>
                      <td>
                        {{ addedexpense.name }}
                      </td>
                      <td>
                        {{ addedexpense.valueType }}
                      </td>
                      <td>
                        {{ addedexpense.value }}
                      </td>
                    </tr>
                  </ng-container>
                  <tr>
                    <td *ngIf="addedGeneralExpenses.length == 0" colspan="4">
                      <p class="no-expenses-label">Item has no expenses</p>
                    </td>
                  </tr>
                  <tr *ngIf="addedGeneralExpenses.length > 0">
                    <td style="background-color: lightgray;" colspan="3">
                      Total:
                    </td>
                    <td style="background-color: lightgray;" colspan="1">
                      {{ totalAddedGeneralExpenses.toLocaleString() }}
                    </td>
                  </tr>
                </tbody>
              </table>
              <br>


              <div *ngIf="addedGeneralExpenses.length >= maxGeneralExpensesGridSize" class="justify-content-center">
                <ngb-pagination [(page)]="generalExpensesSelectedPage" size="sm" [pageSize]="generalExpensesGridPageSize"
                  [collectionSize]="addedGeneralExpenses.length" [maxSize]="maxGeneralExpensesGridSize"
                  (pageChange)="generalExpenseChangePage($event)"></ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </nb-tab>


      <nb-tab tabTitle="Items Expenses" style="padding: 1rem 1rem;">
        <div class="main-ie">
          <items-expenses-grid [offerItems]="items" (presisteExpenses)="modifyItemsExpenses($event)">
          </items-expenses-grid>
        </div>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>

  <nb-card-footer>
    <div class="float-right">
      <button size="small" nbButton hero status="success" (click)="addAllExpensesToItemsGrid()">Save</button> &nbsp;
      <button size="small" nbButton hero status="danger" [mat-dialog-close]="false">Close</button>
    </div>
  </nb-card-footer>
</nb-card>