<nb-card>
  <nb-card-header style="padding-bottom: 5px;">
    <div>
      <nb-icon icon="person-add"> </nb-icon>
      <label style="font-size: 15px;"> &nbsp; Create new user </label>
    </div>
  </nb-card-header>

  <nb-card-body style="padding-bottom: 5px;">
    <div class="main">
      <div class="row">
        <div class="col-md-6">
          <label class="label" [style.color]="errors.name ? 'red'  : ''" >Employee Name:</label>
          <input [status]="errors.name ? 'danger'  : ''"  (input)="onEmployeeFullNameKeyPress($event.target.value)" type="text" nbInput fullWidth placeholder="Employee Full Name" autocomplete="seqt" [(ngModel)]="newUser.name">
        </div>
        <div class="col-md-6">
          <label class="label" [style.color]="errors.sesa ? 'red'  : ''">Employee SESA:</label>
          <input [status]="errors.sesa ? 'danger'  : ''"  (input)="onEmployeeSesaKeyPress($event.target.value)" type="text" nbInput fullWidth placeholder="SESA" autocomplete="seqt" [(ngModel)]="newUser.sesa">
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-6">
          <label class="label" [style.color]="errors.email ? 'red'  : ''">Employee Email:</label>
          <input [status]="errors.email ? 'danger'  : ''"  (input)="onEmployeeEmailKeyPress($event.target.value)" type="text" nbInput fullWidth placeholder="Employee emial" autocomplete="seqt" [(ngModel)]="newUser.email" email>
        </div>

        <div class="col-md-6">
          <label class="label" [style.color]="errors.department ? 'red'  : ''">Employee Department:</label> <br>
          <nb-select [status]="errors.department ? 'danger'  : ''"  (ngModelChange)="onEmployeeDepartmentSelected($event)" selected="" style="width: 250px;" [(ngModel)]="newUser.department">
            <nb-option value=""> -- Select Department -- </nb-option>
            <nb-option *ngFor="let dep of departments"  [value]="dep" fullWidth>
              {{ dep }}
            </nb-option>
          </nb-select>
        </div>
      </div>
 
      <br>

      <div class="row">
        <div class="col-md-6">
          <label class="label">Employee Manager:</label>
          <nb-select selected="" style="width: 250px;" [(ngModel)]="newUser.manager" >
            <nb-option value=""> -- Select Managers -- </nb-option>
            <nb-option *ngFor="let manager of managers"  [value]="manager._id" fullWidth>
              {{ manager.name }}
            </nb-option>
          </nb-select>
        </div>

        <div class="col-md-6">
          <label class="label">Sub-ordinates:</label>
          <ng-multiselect-dropdown disabled name="subordinates" [data]="allPossibleSubordinates" [(ngModel)]="selectedSubOrdinates"
            [settings]="subOrdinatesSettings" (onSelect)="onSubOrdinatesSelect($event)" (onSelectAll)="onSubOrdinatesSelectAll()">
          </ng-multiselect-dropdown>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-9">
          <label class="label" [style.color]="errors.roles ? 'red'  : ''">User Roles:</label><br>
            <nb-select [status]="errors.roles ? 'danger'  : ''"  multiple [(selected)]="multipleSelectValue" fullWidth="true" placeholder="Select a role" 
              (selectedChange)="logRoleChange('roles')">
              <nb-option>Reset</nb-option>
              <nb-option value="TenderingEngineer"> Tendering Engineer </nb-option>
              <nb-option value="TenderingManager"> Tendering Manager </nb-option>
              <nb-option value="SuperAdmin"> Super Admin </nb-option>
            </nb-select>
        </div>

        <div class="col-md-2">
          <br>
          <nb-checkbox [(ngModel)]="newUser.isActive"> Active </nb-checkbox>
        </div>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <div class="float-right">
      <button *ngIf="creationMode != 'UPDATE'" size="small" nbButton hero status="primary" (click)="save()">Save</button> &nbsp;
      <button *ngIf="creationMode == 'UPDATE'" size="small" nbButton hero status="primary" (click)="update()">Update</button> &nbsp;
      <button size="small" nbButton hero status="danger" [mat-dialog-close]="false">Close</button>
    </div>
  </nb-card-footer>
</nb-card>