.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-btn {
    margin-top: 28px;
}

.padding-right-adj {
    padding-right: 0px !important;
}

.invalid{
    font-size: 8px;
    color: red;
}

.error { 
    color: red;
}

.amount-label{
    position: absolute;
    top: 74px;
    left: 21px;
}

