<br>
<form [formGroup]="mainMetaDataForm" (ngSubmit)="offerSubmission()" class="stepper-container">


  <!--Oportunity Number and search button from bFO-->
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="seRefrence"
          [ngClass]="{ 'label' : true , 'error' : f.seRefrence.errors && f.seRefrence.touched }">SE Refrence /
          Opportunity Number</label>
        <input [status]="f.seRefrence.errors && f.seRefrence.touched ? 'danger' : ''" 
          formControlName="seRefrence" id="seRefrence" class="padding-right-adj" type="text" nbInput fullWidth
          placeholder="Opportunity Number" autocomplete="seqt">
      </div>
    </div>
    <div class="col-md-4">
      <button type="button" (click)="loadbFOData()" class="align-btn" nbButton status="success" hero>
        <i class="fas fa-search"></i> &nbsp; Search in bfo
      </button>
    </div>
  </div>
  <br>


  <nb-accordion multi>
    <nb-accordion-item #bfo>
      <nb-accordion-item-header>
        <nb-icon icon="browser"></nb-icon> &nbsp; bFo Data
        <span style="left: 20px;position: inherit;"><small> Last updated: Now </small></span>
      </nb-accordion-item-header>
      <nb-accordion-item-body>

        <div class="row">
          <!-- Oportunity Name from bFO -->
          <div class="col-md-3">
            <div class="form-group">
              <label for="opportunityName" class="label">Opportunity Name</label>
              <input formControlName="opportunityName" type="text" nbInput fullWidth id="opportunityName"
                placeholder="Opportunity Name" disabled>
            </div>
          </div>



          <!-- Opoortunity Leader -->
          <div class="col-md-3">
            <div class="form-group">
              <label for="opportunityOwner" class="label">Opportunity Leader</label>
              <input formControlName="ownerName" type="text" nbInput fullWidth id="opportunityOwner"
                placeholder="Opportunity Owner" disabled>
            </div>
          </div>



          <!-- Category from bFO -->
          <div class="col-md-3">
            <div class="form-group">
              <label [ngClass]="{ 'label' : true , 'error' : f.category.errors && f.category.touched }" for="category"
                class="label">Category</label><br>
              <nb-select [status]="f.category.errors && f.category.touched ? 'danger' : ''" id="category" selected=""
                formControlName="category" style="width: 100%;">
                <nb-option value="">-- Select an option --</nb-option>
                <nb-option value="A">A</nb-option>
                <nb-option value="B">B</nb-option>
                <nb-option value="C">C</nb-option>
                <nb-option value="D">D</nb-option>
              </nb-select>
            </div>
          </div>



          <!-- Leading business unit from bFO -->
          <div class="col-md-3">
            <div class="form-group">
              <label [ngClass]="{ 'label' : true , 'error' : f.leadingBusiness.errors && f.leadingBusiness.touched } "
                for="buninessUnit" class="label">Business Unit</label>
              <input [status]="f.leadingBusiness.errors && f.leadingBusiness.touched ? 'danger' : ''"
                formControlName="leadingBusiness" type="text" nbInput fullWidth id="leadingBusiness"
                placeholder="Business Unit" autocomplete="seqt">
            </div>
          </div>
        </div>
        <br>

        <div class="row">
          <!-- Account name from bFO -->
          <div class="col-md-3">
            <div class="form-group">
              <label for="accountName" class="label">Account Name</label>
              <input formControlName="accountName" type="text" nbInput fullWidth id="accountName"
                placeholder="Account Name" disabled>
            </div>
          </div>



          <!-- End user from bFO -->
          <div class="col-md-3">
            <div class="form-group">
              <label for="endUserAccount" class="label">End User Account</label>
              <input formControlName="endUserAccount" type="text" nbInput fullWidth id="endUserAccount"
                placeholder="End User Account" disabled>
            </div>
          </div>


          <!-- Phase/Sales Stage from bFO -->
          <div class="col-md-3">
            <!-- <div class="form-group">
              <label for="countryOfDestination" class="label">Country of destination</label>
              <input formControlName="countryOfDestination" type="text" nbInput fullWidth id="countryOfDestination" placeholder="Country of destination" autocomplete="seqt">
            </div> -->

            <div class="form-group">
              <label [ngClass]="{ 'label' : true , 'error' : f.salesStage.errors && f.salesStage.touched }"
                for="salesStage" class="label">Phase/Sales stage</label>
              <input [status]="f.salesStage.errors && f.salesStage.touched ? 'danger' : ''" formControlName="salesStage"
                type="text" nbInput fullWidth id="salesStage" placeholder="Phase/sales stage" autocomplete="seqt">
            </div>
          </div>


          <!-- Solution center from bFO -->
          <div class="col-md-3">
            <div class="form-group">
              <label for="solutionCenter" class="label">Solution center</label>
              <input formControlName="solutionCenter" type="text" nbInput fullWidth id="solutionCenter"
                placeholder="Solution center" autocomplete="seqt">
            </div>
          </div>
        </div>
        <br>


        <div class="row">
          <!-- Market segment from bFO -->
          <div class="col-md-3">
            <div class="form-group">
              <label for="marketSegment" class="label">Market Segment</label>
              <input formControlName="marketSegment" type="text" nbInput fullWidth id="marketSegment"
                placeholder="Market Segment" disabled>
            </div>
          </div>



          <!-- Market sub-segment from bFO -->
          <div class="col-md-3">
            <div class="form-group">
              <label for="marketSubSegment" class="label">Market Sub-segment</label>
              <input formControlName="marketSubSegment" type="text" nbInput fullWidth id="marketSubSegment"
                placeholder="Market Sub-segment" disabled>
            </div>
          </div>


          <!-- RFP received on from bFO -->
          <div class="col-md-3">
            <div class="form-group">
              <label for="rfpReceivedOn" class="label">RFP received on</label><br>
              <input formControlName="rfpReceivedOn" nbInput placeholder="RFP Received On" style="width: 100%;"
                [nbDatepicker]="rfpReceivedOn" autocomplete="seqt" readonly>
              <nb-datepicker #rfpReceivedOn></nb-datepicker>
            </div>
          </div>

          <!-- Quote Submission date from bFO -->
          <div class="col-md-3">
            <div class="form-group">
              <label for="quoteSubmissionDate" class="label">Quote Submission date</label>
              <input formControlName="quoteSubmissionDate" nbInput placeholder="Quote Submission date"
                style="width: 100%;" [nbDatepicker]="quoteSubmissionDate" autocomplete="seqt" readonly>
              <nb-datepicker #quoteSubmissionDate></nb-datepicker>
            </div>
          </div>
        </div>
        <br>


        <div class="row">
          <!-- Issued Quote Date to accountfrom bFO -->
          <div class="col-md-3">
            <div class="form-group">
              <label for="issudQuoteDateToAccount" class="label">Issued Quote Date to account</label>
              <input formControlName="issudQuoteDateToAccount" nbInput placeholder="Issued Quote Date to account"
                style="width: 100%;" [nbDatepicker]="issudQuoteDateToAccount" autocomplete="seqt" readonly>
              <nb-datepicker #issudQuoteDateToAccount></nb-datepicker>
            </div>
          </div>


          <!-- Closed Date from bFO -->
          <div class="col-md-3">
            <div class="form-group">
              <label for="closedDate" class="label">Closed Date</label>
              <input formControlName="closedDate" nbInput placeholder="Closed Date" style="width: 100%;"
                [nbDatepicker]="closedDate" autocomplete="seqt" readonly>
              <nb-datepicker #closedDate></nb-datepicker>
            </div>
          </div>

          <!-- Currency -->
          <div class="col-md-3">
            <div class="form-group">
              <label [ngClass]="{ 'label' : true , 'error' : f.currencyCode.errors && f.currencyCode.touched }"
                for="currencyCode" class="label">Currency</label>
              <input mask="AAA" [pattern]="'[A-Z]{3}'" oninput="this.value = this.value.toUpperCase()"
                [status]="f.currencyCode.errors && f.currencyCode.touched ? 'danger' : ''"
                formControlName="currencyCode" nbInput fullWidth id="currencyCode" type="text"
                placeholder="Currency code" autocomplete="seqt">
            </div>
          </div>


          <!-- Amount from bFO -->
          <div class="col-md-3">
            <div class="form-group">
              <label [ngClass]="{ 'label' : true , 'error' : f.amount.errors && f.amount.touched }" for="amount"
                class="label">Amount</label>
              <input mask="separator.2"  thousandSeparator=","
                [status]="f.amount.errors && f.amount.touched ? 'danger' : ''" formControlName="amount" nbInput
                fullWidth id="amount" type="text" placeholder="Amount" autocomplete="seqt" #amount
                (keyup)="convertNumToTextOnKeyUp(amount.value)">
            </div>
            <label class="label amount-label"> {{ amountText }} </label>
          </div>


        </div>
        <br>

      </nb-accordion-item-body>
    </nb-accordion-item>


    <nb-accordion-item #tools>
      <nb-accordion-item-header>
        <nb-icon icon="edit"></nb-icon> &nbsp; Manual Entry Data
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <div class="row">
          <!-- Classification  -->
          <div class="col-md-4">
            <div class="row">
              <div [ngClass]="{ 'col-md-6' : cascadedFromClassification , 'col-md-12' : !cascadedFromClassification }">
                <div class="form-group" style="width: 100%;">
                  <label [ngClass]="{ 'label' : true , 'error' : f.classification.errors && f.classification.touched }"
                    for="classification" class="label">Classification</label><br>
                  <nb-select [status]="f.classification.errors && f.classification.touched ? 'danger' : ''"
                    (ngModelChange)="onClassificationChange($event)" id="classification" selected=""
                    formControlName="classification" style="width: 100%; max-width: 100% !important;">
                    <nb-option value="">-- Select an option --</nb-option>
                    <nb-option value="hub">Hub</nb-option>
                    <!-- <nb-option value="rep">REP</nb-option> -->
                    <nb-option value="rac">RAC</nb-option>
                    <nb-option value="ser">Services</nb-option>
                  </nb-select>
                </div>
              </div>

              <!-- Cascading Hub from Classififcations (Local - export) -->
              <div class="col-md-6" *ngIf="cascadedFromClassification">
                <div class="form-group">
                  <label
                    [ngClass]="{ 'label' : true , 'error' : f.classification_HUB.errors && f.classification_HUB.touched ? true : false }"
                    for="classification_HUB" class="label">Hub</label><br>
                  <nb-select [status]="f.classification_HUB.errors && f.classification_HUB.touched ? 'danger' : ''"
                    formControlName="classification_HUB" id="classification_HUB" selected=""
                    style="width: 100%; max-width: 100% !important;">
                    <nb-option value="">-- Select an option --</nb-option>
                    <nb-option value="local">Local</nb-option>
                    <nb-option value="export">Export</nb-option>
                  </nb-select>
                </div>
              </div>
            </div>

          </div>


          <!-- Quotation Type 1 -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="form-group" style="width: 100%;">
                <label [ngClass]="{ 'label' : true , 'error' : f.quotationType1.errors && f.quotationType1.touched }"
                  for="quotationType1" class="label">Quotation Type 1</label><br>
                <nb-select [status]="f.quotationType1.errors && f.quotationType1.touched ? 'danger' : ''"
                  formControlName="quotationType1" id="quotationType1" selected=""
                  style="width: 100%; max-width: 100% !important;">
                  <nb-option value="">-- Select an option --</nb-option>
                  <nb-option value="basic">Basic</nb-option>
                  <nb-option value="modification">Modification</nb-option>
                  <nb-option value="additional">Additional</nb-option>
                </nb-select>
              </div>
            </div>
          </div>

          <!-- Project Type -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="form-group">
                <div class="form-group" style="width: 100%;">
                  <label [ngClass]="{ 'label' : true , 'error' : f.projectType.errors && f.projectType.touched }"
                    for="projectType" class="label">Project Type</label><br>
                  <nb-select [status]="f.projectType.errors && f.projectType.touched ? 'danger' : ''"
                    formControlName="projectType" id="projectType" selected=""
                    style="width: 100%; max-width: 100% !important;">
                    <nb-option value="">-- Select an option --</nb-option>
                    <nb-option value="turnKey">Turn key</nb-option>
                    <nb-option value="supplyOnly">Supply only</nb-option>
                    <nb-option value="supply&install">Supply and Install</nb-option>
                    <nb-option value="superviseOnInstallation">Supply and supervise on installation</nb-option>
                    <nb-option value="maintenanceOffer">Maintenance offer</nb-option>
                  </nb-select>
                </div>
              </div>
            </div>
          </div>

        </div>
        <br>

        <div class="row">
          <!-- Payemnet method   -->
          <div class="col-md-4">
            <div class="form-group" style="width: 100%;">
              <label [ngClass]="{ 'label' : true , 'error' : f.paymentMethod.errors && f.paymentMethod.touched }"
                for="paymentMethod" class="label">Payment method</label><br>
              <nb-select [status]="f.paymentMethod.errors && f.paymentMethod.touched ? 'danger' : ''"
                formControlName="paymentMethod" id="paymentMethod" selected=""
                style="width: 100%; max-width: 100% !important;">
                <nb-option value="">-- Select an option --</nb-option>
                <nb-option value="CAD">Cash Against Documents (CAD) </nb-option>
                <nb-option value="cheque">Cheque</nb-option>
                <nb-option value="bankTransfer">Bank transfer</nb-option>
                <nb-option value="letterOfCredit">Letter of credit</nb-option>
              </nb-select>
            </div>

          </div>


          <!-- Inco terms -->
          <div class="col-md-2">
            <div class="form-group">
              <div class="form-group" style="width: 100%;">
                <label [ngClass]="{ 'label' : true , 'error' : f.incoTerms.errors && f.incoTerms.touched }"
                  for="incoTerms" class="label">Inco terms</label><br>
                <nb-select [status]="f.incoTerms.errors && f.incoTerms.touched ? 'danger' : ''"
                  formControlName="incoTerms" id="incoTerms" selected=""
                  style="width: 100%; max-width: 100% !important;">
                  <nb-option value="">-- Select an option --</nb-option>
                  <nb-option value="EXW">EXW: Exworks</nb-option>
                  <nb-option value="FCA">FCA: Free Carrier </nb-option>
                  <nb-option value="DDP">DDP: Delivered Duties Paid </nb-option>
                  <nb-option value="DPU">DPU: Delivered at Place Unloaded</nb-option>
                  <nb-option value="DAP">DAP: Delivered at Place</nb-option>
                  <nb-option value="FAS">FAS: Free Alongside Ship</nb-option>
                  <nb-option value="FOB">FOB: Free on board</nb-option>
                  <nb-option value="CFR">CFR: Cost and freight</nb-option>
                  <nb-option value="CIF">CIF: Cost insurance and freight</nb-option>
                  <nb-option value="CPT">CPT: Carriage paid to</nb-option>
                  <nb-option value="CIP">CIP: Carriage Insurance paied to </nb-option>
                </nb-select>
              </div>
            </div>
          </div>

          <!-- Standard Warranty -->
          <div class="col-md-2">
            <div class="form-group">
              <div class="form-group" style="width: 100%;">
                <label [ngClass]="{ 'label' : true , 'error' : f.standardWarranty.errors && f.standardWarranty.touched }" 
                  for="standardWarranty" class="label">Standard Warranty</label><br>
                <nb-select [status]="f.standardWarranty.errors && f.standardWarranty.touched ? 'danger' : ''" 
                  formControlName="standardWarranty" id="standardWarranty" selected="" style="width: 100%; max-width: 100% !important;">
                  <nb-option value="">-- Select an option --</nb-option>
                  <nb-option value="yes"> Yes </nb-option>
                  <nb-option value="no"> No </nb-option>
                </nb-select>
              </div>
            </div>
          </div>
          <!-- Project Type -->
          <div class="col-md-2">
            <div class="form-group">
              <div class="form-group">
                <div class="form-group" style="width: 100%;">
                  <label [ngClass]="{ 'label' : true , 'error' : f.destination.errors && f.destination.touched }"
                    for="destination" class="label">Destination</label><br>
                  <nb-select class="cuppa-dropdown" [status]="f.destination.errors && f.destination.touched ? 'danger' : ''"
                    formControlName="destination" id="destination" selected=""
                    style="width: 100%; max-width: 100% !important;">
                    <nb-option value="">-- Select an option --</nb-option>
                    <nb-option *ngFor="let country of countries; let i =index" value = {{country}} >
                      {{ country }}
                    </nb-option>
                  </nb-select>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <div class="form-group">
                <div class="form-group" style="width: 100%;">
                  <label [ngClass]="{ 'label' : true , 'error' : f.ig_og.errors && f.ig_og.touched }"
                    for="IG_OG" class="label">IG\OG</label><br>
                  <nb-select class="cuppa-dropdown" [status]="f.ig_og.errors && f.ig_og.touched ? 'danger' : ''"
                    formControlName="ig_og" id="IG_OG" selected=""
                    style="width: 100%; max-width: 100% !important;">
                    <nb-option value="">-- Select an option --</nb-option>
                    <nb-option value="IG"> IG </nb-option>
                    <nb-option value="OG"> OG </nb-option>
                  </nb-select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>

        <!-- Payement terms -->
        <label style="font-size: 15px;" class="label">Payement Terms</label> &nbsp;
        <label *ngIf="f.advanced.errors " class="label invalid">* Total payment terms should be 100%.</label>
        <div class="row">
          <div class="col-md-1">
            <label for="advanced" class="label">Advanced</label>
            <input [status]="f.advanced.errors ? 'danger' : '' " formControlName="advanced" type="text" nbInput
              fullWidth id="advanced" placeholder="%" mask="000">
          </div>
          <div class="col-md-1">
            <label for="dwg" class="label">Approval</label>
            <input [status]="f.dwg.errors  ? 'danger' : '' " formControlName="dwg" type="text" nbInput fullWidth
              id="dwg" placeholder="%" mask="000">
          </div>
          <div class="col-md-1">
            <label for="progress" class="label">Progress</label>
            <input [status]="f.progress.errors  ? 'danger' : '' " formControlName="progress" type="text" nbInput fullWidth
              id="progress" placeholder="%" mask="000">
          </div>
          <div class="col-md-1">
            <label for="fatCad" class="label">FAT/CAD</label>
            <input [status]="f.fatCad.errors  ? 'danger' : '' " formControlName="fatCad" type="text" nbInput fullWidth
              id="fatCad" placeholder="%" mask="000">
          </div>
          <div class="col-md-1">
            <label for="delivery" class="label">Delivery</label>
            <input [status]="f.delivery.errors ? 'danger' : '' " formControlName="delivery" type="text" nbInput
              fullWidth id="delivery" placeholder="%" mask="000">
          </div>
          <div class="col-md-1">
            <label for="sat" class="label">SAT</label>
            <input [status]="f.sat.errors ? 'danger' : '' " formControlName="sat" type="text" nbInput fullWidth id="sat"
              placeholder="%" mask="000">
          </div>
          <div class="col-md-2">
            <label for="late1_money" class="label">Late 1</label>
            <div style="display: inline-flex;">
              <input [status]="f.late1_money.errors ?  'danger' : '' " formControlName="late1_money" type="text" nbInput
                fullWidth id="late1_money" placeholder="%" mask="000"> &nbsp;
              <input formControlName="late1_period" type="number" nbInput fullWidth id="late1_period"
                placeholder="Period">
            </div>
          </div>
          <div class="col-md-2">
            <label for="Late2" class="label">Late 2</label>
            <div style="display: inline-flex;">
              <input [status]="f.late2_money.errors ? 'danger' : '' " formControlName="late2_money" type="text" nbInput
                fullWidth id="late2_money" placeholder="%" mask="000"> &nbsp;
              <input formControlName="late2_period" type="number" nbInput fullWidth id="late2_period"
                placeholder="Period">
            </div>
          </div>
          <div class="col-md-2">
            <label for="late3" class="label">Late3</label>
            <div style="display: inline-flex;">
              <input [status]="f.late3_money.errors ? 'danger' : '' " formControlName="late3_money" type="text" nbInput
                fullWidth id="late3_money" placeholder="%" mask="000"> &nbsp;
              <input formControlName="late3_period" type="number" nbInput fullWidth id="late3_period"
                placeholder="Period">
            </div>
          </div>
        </div>

      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>

  <br>



  <button [disabled]="!mainMetaDataForm.valid" status="success" class="float-right" type="submit"
    (click)="submissionMode = 'submit'" nbButton>
    Create and Assign <nb-icon icon="arrow-circle-right"></nb-icon>
  </button>

  <button [disabled]="!mainMetaDataForm.valid" status="info" class="float-right" style="margin-right: 10px;"
    type="submit" (click)="submissionMode = 'save'" nbButton>
    <nb-icon icon="save"></nb-icon> Save Draft
  </button>

</form>