<nb-layout windowMode>
    <nb-layout-header fixed>

    </nb-layout-header>

    <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>

    </nb-sidebar>

    <nb-layout-column>
        <ng-content select="router-outlet"></ng-content>
    </nb-layout-column>

    <nb-layout-footer fixed>
        
    </nb-layout-footer>
</nb-layout>