<br>
<br>

<div class="container">

  <div class="row">
    <div class="col-md-7" style="margin-top: 12px;">
      <nb-icon icon="attach-outline"> </nb-icon> &nbsp;
      <label style="font-size: 20px; font-weight: 700;"> E2E Costing Summary </label>
    </div>

    <div class="col-md-2"></div>

  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <div id="table-wrapper" class="table-wrapper">
        <table class="table table-bordered" style="table-layout: fixed;">
          <thead>
            <tr>
              <ng-container  *ngFor="let item of tableHeaders">
                <th [width]="item.style.width" 
                  [style.background-color]="item.style.bgColor"
                  [style.color]="item.style.txtColor"
                  style="text-align: center; z-index: 1;"> {{ item.headerTitle }} </th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of columnsRows" style="text-align: center;">
              <td 
              [style.background-color]="item.style.bgColor"
              [style.font-weight]="item.style.isBold ? 'bold' : ''" 
              [style.color]="item.style.txtColor"  >{{ item.name }}</td>
              <td>34</td>
              <td>--</td>
              <td>--</td>
              <td>0</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <br>
  <br>
</div>