.items-container {
    overflow-x: auto;
    white-space: nowrap;
}

.table-wrapper {
    max-height: 3000px;
    overflow-x: auto;
    overflow-y: auto;
}

th {
    top: 0px;
}

th,
td {
    font-size: 15px;
    vertical-align: middle;
}

.table-wrapper::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    padding-top: 40px;
}

.table-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;

}

.table-wrapper::-webkit-scrollbar-thumb {
    background: #555;
}

.table-wrapper::-webkit-scrollbar-track-piece {
    height: 30px;
    width: 30px;
}