<nb-card>
  <nb-card-header>
    <div [innerHTML]="title"></div>
  </nb-card-header>
  <nb-card-body>
    <div [innerHTML]="message"></div>
  </nb-card-body>
  <nb-card-footer>
    <div class="float-right">
      <button size="small" nbButton hero status="primary" (click)="submit(true)">Sure</button> &nbsp;
      <button size="small" nbButton hero status="danger" (click)="cancel()">Cancel</button>
    </div>

  </nb-card-footer>
</nb-card>
