<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-header class="card-header-padding"> 
    <nb-icon icon="plus-square"></nb-icon> &nbsp; Create new offer
  </nb-card-header>
  <nb-card-body>
    <nb-stepper #stepper> 
      <nb-step [stepControl] = "forms.metadataForm" label="metadata">
        <main-metadata-form (nextStepEmitter)= "nextStep()" ></main-metadata-form>
      </nb-step>
      <nb-step label="assign">
        <assignment-form></assignment-form>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>