<br>
<br>

<div class="container">

  <div class="row">
    <div class="col-md-7" style="margin-top: 12px;">
      <nb-icon icon="menu-outline"> </nb-icon> &nbsp;
      <label style="font-size: 20px; font-weight: 700;"> Family Summaries </label>
    </div>

  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <div id="table-wrapper" class="table-wrapper">
        <table class="table table-bordered" style="table-layout: fixed;">
          <thead>
            <tr>
              <ng-container *ngFor="let item of familyHeaderElements">
                <th [width]="item.style.width" style="text-align: center; z-index: 1;"> {{ item.headerTitle }} </th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of summaryItems" style="text-align: center;">
              <td> <input type="text" class="form-control input-xs" disabled [value]="item.family" /></td>
              <td> <input type="text" class="form-control input-xs" disabled [value]="item.salesFamily" /></td>
              <td> <input type="text" class="form-control input-xs" disabled [value]="item.totalCostExcludingExpenses" /></td>
              <td> <input type="text" class="form-control input-xs" disabled [value]="item.totalCostIncludingExpenses" /></td>
              <td> <input type="text" class="form-control input-xs" disabled [value]="item.totalSP" /></td>
              <td> <input type="text" class="form-control input-xs" disabled [value]="item.localMargin" /></td>
              <td> <input type="text" class="form-control input-xs" disabled [value]="item.spCCOGM_Percentage" /></td>
              <td> <input type="text" class="form-control input-xs" disabled [value]="item.threesholdCCOGM_Percentage" /></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <br>
  <br>
</div>