<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">
      <img style="width: 200%; margin-top: 11px;" [src]="logoPath" >
    </a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="control-item">
      <nb-search type="column-curtain" tag="column-curtain"></nb-search>
    </nb-action>
    <!-- If notification found! -->
    <nb-action 
      class="control-item" 
      [icon]="isNotification"
      nbContextMenuAdjustment="counterclockwise"
      [nbContextMenu]="userMenu">
    </nb-action> 


    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.name"
               [picture]="user?.picture">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
